{% if datos %}


<h2 id="titulo"></h2>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">

    var url = window.location.href;

    var posicion = url.lastIndexOf("/");
    var nameBoyaRecibido = url.slice(posicion+1);

    nameBoyaRecibido = nameBoyaRecibido.replace("%C3%A1","á");
    nameBoyaRecibido = nameBoyaRecibido.replace("%C3%A9","é");
    nameBoyaRecibido = nameBoyaRecibido.replace("%C3%AD","í");
    nameBoyaRecibido = nameBoyaRecibido.replace("%C3%B3","ó");
    nameBoyaRecibido = nameBoyaRecibido.replace("%C3%BA","ú");
    nameBoyaRecibido = nameBoyaRecibido.replace("%C3%B1","ñ");

    for (var i = 0; i < nameBoyaRecibido.length; i++){
      nameBoyaRecibido = nameBoyaRecibido.replace("%20"," ");
    }
    document.getElementById("titulo").innerHTML = "Últimos datos de la " + nameBoyaRecibido;
</script>

<style>
    .scroll-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .scroll-table th, .scroll-table td {
        text-align: left;
        width: 300px;
        padding: 10px;
    }

    .scroll-table td{
        text-align: right;
        padding: 10px;
    }



    .tab{
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f7f7f7;
      width: 100%;
      margin-bottom: 3%;
      margin-top: 3%;
    }
    .tab button.active {
      background-color: #0E9BA6;
      color: #fff;
      font-weight: bold;
    }

    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }

     .concabecera{
      width: 100%;
    }

    .imagenBoya{
      float: right;
    }
    .bttVolver{
    border-radius: 10px;
    font-weight: bold;
    padding: 14px;
    font-size:15px;
    text-align: center;
    cursor: default;
  }

  .bttVolver:hover{
    cursor: pointer;
  }


</style>

<div class="datosizq">
  <table id="concabecera" class="concabecera">
    <tbody>
      <tr>
        <td>
          <p>
            <b>Fecha de Medida: </b>
            {{ datos.reception_date_time }}
            <br>
            <b>Latitud(º): </b>
            {{ datos.latitude }}
            <br>
            <b>Longitud(º): </b>
            {{ datos.longitude }}
          </p>
        </td>
        <td class="imagenBoya">

          <img src="{{ path('<front>') }}{{directory}}/images/BoyaGrande.jpg" >

      </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tab">
  <button class="tablinks" onclick="openDatos(event, 'datosdiarios')" id="defaultOpen">Último Dato Registrado</button>
  <button class="tablinks" onclick="openDatos(event, 'datosacumulados')">Descarga de Ficheros</button>

</div>

<div id="datosdiarios" class="tabcontent scroll-table">
<table class="scroll-table">
  <thead>
    <tr>
      {% for clave,valor in datos.data %}
        <th>{{ clave }}</th>
      {% endfor %}

    </tr>
  </thead>
  <tbody>
    <tr>
      {% for clave,valor in datos.data %}
        <td>{{ valor }}</td>
      {% endfor %}

    </tr>

  </tbody>
</table>
</div>
<br/>
<div id="volver" class="bttVolver">
  <button onClick="window.history.back()" id="volver" class="form-submit bttVolver">Volver al mapa</button>
</div>

<div id="datosacumulados" class = "tabcontent"></div>

<script type="text/javascript">
    window.addEventListener('load', function() {
        // Ejecución después de que el DOM de la página se haya cargado completamente
        var form = document.getElementById("block-child-webform");
        form.style.display = "none";
         form.parentNode.insertBefore(volver, form.nextSibiling);

        //Rellenar el campo IdBoya con el dato de la url
        var url = window.location.href;
        var testigo = "reola";
        var indexOfTestigo = url.indexOf(testigo)+5;
        var urlResto = url.slice (indexOfTestigo+1);
        var idBoya = urlResto.slice(0 , urlResto.indexOf("/"));
        document.getElementById("edit-idboya").value = idBoya;
    });

		function openDatos(evt, datosName) {
			  var i, tabcontent, tablinks;
			  tabcontent = document.getElementsByClassName("tabcontent");
			  for (i = 0; i < tabcontent.length; i++) {
				  tabcontent[i].style.display = "none";
			  }
			  tablinks = document.getElementsByClassName("tablinks");
			  for (i = 0; i < tablinks.length; i++) {
				  tablinks[i].className = tablinks[i].className.replace(" active", "");
			  }

        document.getElementById(datosName).style.display = "block";
        evt.currentTarget.className += " active";

        if (datosName=='datosdiarios'){
          $("#block-child-webform").hide();
          $("#webform-submission-export-data-add-form").hide();
          $("#datosdiarios").show();

        }

        if (datosName=='datosacumulados'){
          $("#block-child-webform").show();
          $("#webform-submission-export-data-add-form").show();
          $("#datosdiarios").hide();
        }
		}

		document.getElementById("defaultOpen").click();

		</script>

{% endif %}